/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0d1117;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(99, 96, 96);
  height: 70%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
